/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.bg-image{
    background-image:url(../images/background.jpg);
    height: 311px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1700px;
    background-size: cover;
    display: flex;
    }
    .home::after{
        content: '';
        width: 2px;
        height: 15px;
        background-color: white;
        display: inline-block;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .body{
        height: 1500px;
    }
    .headerdiv{
       position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    .header{
        max-width:1088px;
        width: 100%;
        height: 20px;
     position: absolute;
     left: 50%;
     top: 50px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    .header{
    position: fixed;
    }
    .ul-tag{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
       max-width:500px ;
       width: 100%;
        position: absolute;
        left: 50%;
        color: white;
        font-family: 'Poppins semibold';
    }
    /* pseudo elements */
    .list::after{
    content: '';
    position: absolute;
    height: 10%;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: red;
    transition-duration: 0.5s;
    }
    .list:hover::after{
    width: 100%;
    }
    .list:hover{
        color:royalblue;
    }


    .list{
        color: white;
        position: relative;
    }
    
    .burger-bar{
        display: none;
        font-size: 30px;
        color: gray;
        max-width: 500px;
        width: 100%;
    }
    .bg-text{
       margin-left: 210px;
       margin-top: 140px;
        color:white;
        max-width: 1170;
        width: 100%;
    }
    .title6{
        font-size: 42px;
        font-family: 'Poppins extrabold';
    }
    .bg-span{
        font-size: 14px;
        font-family: 'Poppins medium';
    }
    .logo{
        max-width:650px;
        width: 100%;
        color: white;

    }
    .map{
      max-width: 1088px;
      width: 100%;
      height: 286px;
    }
    .map-div{
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1088px;
        width: 100%;
    }
    .title3{
        font-size: 14px;
        color: blue;
        margin-left: 220px;
        max-width: 60px;
        width: 100%;
        margin-bottom: 10px;
        font-family: 'Great Vibes';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    .title4{
        max-width: 400px;
        width: 100%;
        font-size: 42px;
        margin-left: 215px;
        font-family: 'Great Vibes';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    .title5{
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .messages-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    /* align-items:center ; */
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    height: 303px;
    }
    .input{
        width: 352px;
        height: 60px;
        margin-bottom: 10px;
    }
    .input:focus{
        outline: none;
    }
    .submit{
        background-color: #5863F8;
        width: 352px;
        height: 60px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .image2{
        width: 15px;
       /* margin-top: 22px; */
       margin-left: 10px;
     }
     .textarea-div{
        max-width: 720px;
        width: 100%;
        height:270px;
        margin-top:8px;
     }
     .textarea{
        resize: none;
      max-width: 720px;
      width: 100%;
      height: 270px;
      margin-top:12px;
      outline: none;
     }
     .inputs-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
        margin-top: 20px;
        margin-left: 16px;
     }
     .gps{
    font-size: 13px;
    color:white;
     }
    .call{
        font-size: 13px;
        color:white;
    }
    .email{
        font-size: 13px;
        color:white;
    }
     .icons-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    margin-top: 50px;
     }
     .icon{
        width: 59px;
        height: 58px;
        background-color: #5863F8;
        border-radius: 50%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin: 0 auto;
     }
     .contact-div{
        width: 200px;
        text-align: center;
     }
     /* section 2 */
.section2-div{
    display: flex;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
}
.sec2-title{
    margin-top: 90px;
    max-width:570px;
    width:100%;
}



    /* footer */
    .footer{
        max-width:1700px;
        width: 100%;
        height: 395px;
        background-color: #121212;
        display: -webkit-box;
        display: -ms-flexbox;
       margin-top: -5px; 
        position:relative;
        /* flex-wrap: wrap; */
        display: flex;
    }
    .fa-facebook{
        color: blue;
        font-size: 30px;
    }
    .fa-twitter-square{
        color: lightblue;
        font-size: 30px;
        margin-left: 10.6px;
        margin-right: 10.6px;
    }
    .gmail{
        font-size: 16px;
        color: blue;
    }
    .location{
        font-size: 16px;
        color: blue;
    }
    .phone{
        font-size: 16px;
        color: blue;
    }
    
    
    .paragraph{
        color: white;
        width: 260px;
    }
    .google{
    color: red;
    font-size: 30px;
    }
    .footer-box{
        display: flex;
        max-width: 260px;
        width:100%;
        margin-top: 143px;
        margin-left: 139px;
        flex-direction: column;
    }
    .footer-box2{
        max-width: 103px;
        width:100%;
        margin-top: 130px;
        margin-left: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .footer-box3{
        max-width: 78px;
        width:100%;
        margin-top: 130px;
        margin-left: 81px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-box4{
        max-width: 198px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 130px;
        margin-left: 106px;
    }
    .icons{
        margin-top: 20px;
    }
    .title2{
        color:white;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .footer-span{
        margin-bottom: 10px;
    color: #5863F8;
    }
    .footer-p{
        width: 559px;
        color: white;
        position: absolute;
        left: 0;
        bottom:30px;
    }
    .footer-title{
        color: white;
        font-size: 24px;
        margin-bottom: 20px
    }
    .contact-info{
        margin-bottom: 20px;
    }
    .website{
        max-width: 174px;
        width: 100%;
        position:absolute;
        font-size: 14px;
        color: #5863F8;
        right: 0;
        bottom: 30px;
    }
   